.header{
    background: rgba(30, 30, 42, 0.78);
    text-align: center;
    width: 94%;
    height: 75px;
    margin: auto;
    line-height: 75px;
    font-size: 45px;
    color: #d0e89a;
    font-family: Oswald;
}

.play{
    font-family: "Open Sans";
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.left-panel{
    width: 67%;
    display: inline-block;
    vertical-align: top;
    height: calc(100% - 75px);
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.right-panel{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    height: calc((100% - 75px) * 0.95);
    position: relative;
    top: calc(50% - 37.5px);
    transform: translateY(-50%);
    /* box-shadow: 0px 0px 30px -8px #000000; */
    background: rgba(30, 30, 42, 0.78);
    overflow-x: hidden;
    overflow-y: auto;
}

.player-card{
    width: 90%;
    height: 570px;
    /* padding: 20px; */
    background-size: "cover";
    background-position: "top";
    /* box-shadow: 0px 0px 96px -8px #000000; */
    position: absolute;
    left: 50%;
    margin: auto;
    /* border-radius: 5px; */
    transform-origin: 50% 0%;
    transition: 1s ease-in-out;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(63, 63, 63);
    border-color: rgba(30, 30, 42, 0.78);
}

.control-panel{
    position: absolute;
    padding: 10px;
    bottom: 2.5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: rgba(30, 30, 42, 0.78);
    /* box-shadow: 0px 0px 30px -8px #000000; */
    /* border-radius: 5px; */
}

.player-img{
    width: calc(50% - 40px);
    height: 100%;
    border-style: solid;
    border-radius: 50%;
    border-width: 3px;
    border-color: #ffffff;
}

.player-det{
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    color: #0e0e0e;
    font-family: "Montserrat";
    text-align: left;
    margin-top: 70px;
    padding: 0px 30px;
}

.rank-name{
    color: #2f43bf;
    color: #ffffff;
    font-weight: 400;
    font-size: 38px;
    display: block;
    width: 100%;
    padding: 10px 0px 0px;
}

.player-stats{
    width: 100%;
    font-family: "Josefin Sans";
}

.player-stat{
    display: inline-block;
    padding: 5px;
    color: #446061;
    color: #ffffff;
    font-weight: 400;
}

.stat-val{
    float: right;
    display: inline-block;
    padding: 5px;
    color: #446061;
    color: #ffffff;
    font-weight: 400;
}

.team-button{
    display: inline-block;
    padding: 10px 35px;
    color: #d0e89a;
    border-color: #d0e89a;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    /* background: rgba(255,255,255,0.8); */
    background: transparent;
    font-weight: 600;
    /*background: linear-gradient(#5a00ff, #2500ae);*/
    border-style: solid;
    border-radius: 24px;
    /* text-transform: uppercase; */
    border-width: 3px;
    margin: 0px 20px 20px;
    margin-top: 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.team-button:hover{
    /* color: #D00A2D; */
    background: #d0e89a;
    color: #201d56;
}

.team-button.active{
    background: #201d56;
    border-color: #201d56;
    color: #d0e89a;
}

#price-tag{
    padding: 10px;
    border-width: 0px 0px 2px;
    outline: none;
    background: none;
    color: #ffffff;
    border-color: #ffffff;
    text-align: right;
    outline: none;
    margin: 0px auto 10px;
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 20px;
    width: 75px;
    display: block;
}

.button{
    font-family: Oswald;
    padding: 1px;
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    color: #d0e89a;
    border-color: #d0e89a;
    display: inline-block;
    width: 150px;
    text-align: center;
    margin: 5px;
    font-weight: 900;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.button:hover{
    background: #d0e89a;
    color: #201d56;
}

.button .symbol{
    display: inline-block;
    color: #201d56;
    background: #d0e89a;
    border-radius: 50px;
    vertical-align: middle;
    padding: 7px 14px 11px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.button .text{
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    letter-spacing: 1.5px;
}

.team-card{
    min-height: 20%;
    padding: 10px 30px;
    width: 100%;
    color: #fff;
    /* border-style: solid;
    border-width: 0px 0px 1px;
    border-color: #4e4e4e; */
    font-weight: 100;
}

.team-card:nth-child(odd){
    background: rgba(0,0,0,0.2);
}

.team-img{
    height: 50px;
    vertical-align: middle;
}

.team-det{
    padding-left: 15px;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 50px);
}

.team-name{
    width: calc(100% - 80px);
    display: inline-block;
}

.team-count{
    display: inline-block;
    background: #3636ff;
    padding: 3px 13px;
    border-radius: 18px;
    width: 80px;
    text-align: center;
    font-weight: 900;
    color: white;
}

.budget-text{
    width: calc(100% - 110px);
    display: inline-block;
}

.team-budget{
    width: 100px;
    display: inline-block;
    text-align: right;
}

.team-roster{
    display: block;
    width: 100%;
    margin-top: 15px;
}

.team-roster > ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-size: 13px;
  margin: 0px;
}
